@import "../../styles/variables.scss";

.articlescontainer {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-left: 10px;
  padding-left: 10px;

  margin-left: 30%;
  margin-right: auto;

  transition: 0.1s ease margin-left, 0.1s ease margin-right;
  @include breakpoint(small) {
    width: 100%;
    margin-left: 0%;
  }
  @include breakpoint(medium) {
    width: 70%;
    margin-left: auto;
  }
  @include breakpoint(extra-large) {
    width: 80%;
    margin-left: 38%;
  }
}

.article {
  background: $card-bg;

  height: 220px;

  margin-bottom: $spacing-m;

  border-radius: 20px;
  border: 3px solid $teal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include breakpoint(small) {
    width: 98%;
    max-width: 98%;
  }
  @include breakpoint(medium) {
    width: 700px;
    max-width: 100%;
  }

  &__content {
    display: inline-grid;
    grid-template-columns: 10% repeat(4, 1fr);
    grid-gap: $spacing-xs;

    font-family: $open-sans;
  }

  &__sourcedata {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: $teal;
    padding-bottom: 15px;
  }

  &__info {
    position: relative;
    padding: $spacing-s;

    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: end;
  }

  &__img {
    border-radius: 10px;

    margin: $spacing-s;
    grid-column-start: 1;
    grid-column-end: 4;

    width: 100%;
    height: 190px;

    object-fit: cover;
  }
}
.article:hover {
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
}

.description {
  display: inline-block;

  text-overflow: ellipsis;
  word-wrap: break-word;

  max-height: 4.5em;
  line-height: 1.5em;
  overflow: hidden;

  color: $text;
  font-size: $subtext-size;
}

.title {
  font-size: $title-size;
  color: $dark-blue;
  text-decoration: none;

  max-height: 4.3em;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title:hover {
  color: $teal;
  transition: all 0.1s ease-in-out;
}

.sources {
  display: flex;
}
