@import "../../styles/variables.scss";

.shareButtons {
  height: 20px;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  background-color: $bg;
  padding: 0px 10px;
  border-radius: 10px;
}

.shareButton {
  font-size: 12px;
  cursor: pointer;
}
