@import "../styles/variables.scss";

.navbar {
  background-color: $white;
  height: 50px;

  &__content {
    color: $dark-blue;
    display: flex;

    transition: 0.3s ease padding;
    height: 90%;
    align-items: center;

    & {
      justify-content: space-around;
    }
  }
}

.title {
  font-size: 20px;
  color: $dark-blue;
  font-weight: 700;
  margin-top: 0.3em;
}

.title:hover {
  cursor: pointer;
  color: $link;
  transform: scale(1.01);
  transition: 0.1s ease-in-out;
}
