@import "../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: $white;
  padding: 0 20px;

  height: 50px;

  align-items: center;
  margin-top: -18px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  color: $dark-blue;
  font-weight: 700;
  margin-top: 0.3em;
}

.title:hover {
  cursor: pointer;
  color: $link;
  transform: scale(1.01);
  transition: 0.1s ease-in-out;
}
