@import "../styles/variables.scss";

* {
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: $bg;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  padding-top: 40px;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: $bg2;
}

form {
  margin-bottom: 3em;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: $text;
}

input[type="text"] {
  color: $text;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid $bg;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: $bg2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: $link;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  padding-top: 90px;
}

.form {
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button {
  margin: 10px;
  margin-left: 0px;
}

.button.remove {
  background: #ba0000;
}

.button.remove:hover {
  background: #bf2222;
}
