@import "../styles/variables.scss";

.error {
  padding: 10px;
  padding-top: 70px;
  background-color: #ff6961;
  color: $card-bg;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}

.articles {
  background-color: $bg;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  padding-top: 40px;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  width: 29%;
  margin: 0 auto; /* center the container horizontally */
  background-color: $card-bg; /* create the white rectangle background */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* add a subtle shadow effect */
  padding: 20px;

  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.article:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.article:nth-child(1),
.article:nth-child(2) {
  width: 46%;
}

.article a {
  display: block;
  text-decoration: none;
}

.article img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out; /* add a transition effect */
  border-radius: 4px;
}

// .article img:hover {
//   transform: scale(1.01); /* zoom in on the thumbnail on hover */
// }

.article h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0 0 0;
  color: black;
}

.article:hover h2 {
  text-decoration: none;
  color: #304a61;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.description {
  font-style: italic;
}

.time_ago {
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .article,
  .article:nth-child(1),
  .article:nth-child(2) {
    width: 100%;
  }
}
