@import "../styles/variables.scss";

.error {
  padding: 10px;
  padding-top: 70px;
  background-color: #ff6961;
  color: $card-bg;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}

.articles {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  padding-top: 40px;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  width: 29%;
  margin: 0 auto; /* center the container horizontally */
  background-color: $card-bg; /* create the white rectangle background */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* add a subtle shadow effect */
  padding: 20px;

  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.article_link:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.article:nth-child(1),
.article:nth-child(2) {
  width: 46%;
}

.article_link {
  display: block;
  text-decoration: none;
}

.article img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out; /* add a transition effect */
  border-radius: 4px;
}

.article h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0 0 0;
  color: black;
}

.article_link:hover h2 {
  text-decoration: none;
  color: #304a61;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.description {
  font-style: italic;
}

.time_ago {
  font-weight: bolder;
}

.published_by {
  color: #007bff;
  text-decoration: none;
}

.published_by:hover {
  text-decoration: underline;
  font-weight: bolder;
  transition: all 0.1s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .article,
  .article:nth-child(1),
  .article:nth-child(2) {
    width: 100%;
  }
}

.article_link {
  display: block;
  text-decoration: none;
  color: black;
}

.article h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #304a61;
}

.article p {
  margin-bottom: 10px;
  color: #304a61;
}

.description {
  font-size: 16px;
}

.time_ago {
  font-size: 14px;
  color: #aaa;
}

.published_by {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.published_by:hover {
  text-decoration: underline;
}

.favicon {
  max-width: 16px;
  max-height: 16px;
}

.labels_container {
  padding: 20px 10px;
  overflow-x: auto;
}

.labels {
  display: flex;
  flex-wrap: nowrap;
}

.label {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 20px;
  background-color: #e6e6e6;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}

.label:hover {
  background-color: #d3d3d3;
}

.filteringContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.searchBarContainer {
  padding: 20px 10px;
  position: relative;
  flex-grow: 1;
}

.searchBar {
  color: white;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-60%);
}

.sortBy {
  position: relative;
  display: inline-block;
}

.sortBySelect {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: #f8f8f8;
  color: #333;
}

.sortBySelect:focus {
  outline: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.sortBySelect::-ms-expand {
  display: none;
}

.sortBySelect option {
  font-size: 16px;
  font-weight: bold;
}


