.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  margin: auto;
}

.labelsContainer {
  height: 100%;
  overflow: hidden;

}

.labelList {
  list-style: none;
  display: flex;
  height: 100%;
  width: auto;
  gap: 10px;
  padding: 5px;
  align-items: center;
}

.label {
  background-color: rgb(240,240,240);
  height: 80%;
  padding: 10px;
  border-radius: 15px;
  flex-shrink: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label:hover {
  cursor: pointer;
  background-color: darkgray;
}

#left_button,
#right_button {
  background-color: #ccc;
  opacity: 1;
  border: none;
  padding: 5px 10px;
  border-radius: 100%;
}

#left_button:hover,
#right_button:hover {
  background-color: #aaa;
  cursor: pointer;
}

#left_button[disabled]:hover,
#right_button[disabled]:hover {
  background-color: inherit;
  cursor: default;
}

.label[include] {
  background-color: lightskyblue;
  outline: solid 1px royalblue;
}


#left_button {
  margin-right: 10px;
}

#right_button {
  margin-left: 10px;
}
