@import "../styles/variables.scss";

.errorcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  background-color: $bg;
}

.errorheading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.errormessage {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.errorimage {
  width: 40%;
  margin-bottom: 4rem;
}

.errorlink {
  border-radius: 20px;
  font-size: $title-size;
  text-decoration: none;
  background-color: $dark-blue;
  color: white;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.errorlink:hover {
  transform: scale(1.02);
  background-color: #2e4fc8;
  color: white;
}
