@import "../styles/variables.scss";

* {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.logincontainer {
  margin: 0 auto;
  background-color: $card-bg;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.logo {
  align-self: center;
  font-weight: 700;
  font-size: 5rem;
  color: $bg2;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: $title-size;
  color: $dark-blue;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  background-color: $light-grey;
  padding: 10px;
  width: 100%;
  font-weight: 500;
  border-radius: 50px;
  margin-bottom: 10px;
  height: 60px;
  box-sizing: border-box;
  font-size: $subtitle-size;
}

input[type="submit"] {
  background-color: $bg2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  height: 70px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: $link;
  transition: all 0.2s ease-in-out;
}

.form {
  padding: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.login_and_register_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button {
  margin: 10px 0;
  width: 100%;
  max-width: 200px;
}

.register {
  margin-top: 10px;
  background-color: $bg2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  height: 70px;
  font-weight: bold;
}

.register:hover {
  background-color: $link;
  transition: all 0.2s ease-in-out;
}
