@import "../styles/variables.scss";

.container {
  padding: 20px 40px;
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: $white;
  border: 3px;
  border-radius: 40px;
}

.title {
  padding-top: 0.2em;
  font-size: 35px;
  color: $dark-blue;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 50px;
}

.heading {
  font-size: $title-size;
  font-weight: 700;
  color: $dark-blue;
  text-align: center;
}

.formcontainer {
}
.form {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: $dark-blue;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.input {
  background-color: $grey-blue;
  padding: 7px;
  border-radius: 50px;
  margin-bottom: 8px;
}

.tablecontainer {
  width: 100%;
  @include breakpoint(medium) {
    width: 50%;
  }
}

.button {
  background-color: $dark-blue;
  color: $white;
  padding: 5px 40px;
  border-radius: 50px;
  font-size: $subtitle-size;
  margin: 10px 0px;
}
