@import "../styles/variables.scss";

.container {
  padding: 20px 40px 50px;
  margin: 20px;
  display: block;
  background-color: #fff;
  border-radius: 40px;
}

.title {
  padding-top: 0.2em;
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logorss {
  font-size: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.logouser {
  font-size: 70px;
  margin-right: 10px;
  margin-top: 10px;
}
