<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/admin.css">
    <link rel="stylesheet" href="../static/navbar.css">
</head>
<body>
{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <h1>Add new RSS Feed</h1>
            <form method="post" action="/add_rss">
                <label for="feed_url">Feed URL:</label>
                <input type="text" id="feed_url" name="feed_url" required>
                <br>
                <label for="feed_name">Feed Name:</label>
                <input type="text" id="feed_name" name="feed_name" required>
                <br>
                <input type="submit" value="Add Feed">
            </form>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h1>Add new Admin</h1>
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" required>
                    <span class="password-toggle-icon" onclick="togglePasswordVisibility()">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
                <script>
                    function togglePasswordVisibility() {
                        let passwordInput = document.getElementById("password");
                        let passwordToggleIcon = document.querySelector(".password-toggle-icon i");

                        if (passwordInput.type === "password") {
                            passwordInput.type = "text";
                            passwordToggleIcon.classList.remove("fa-eye");
                            passwordToggleIcon.classList.add("fa-eye-slash");
                        } else {
                            passwordInput.type = "password";
                            passwordToggleIcon.classList.remove("fa-eye-slash");
                            passwordToggleIcon.classList.add("fa-eye");
                        }
                    }
                </script>
                <input type="submit" value="Add Admin">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</div>
</body>
</html>
