<div class="article">
<a href="https://vrtnws.be/p.7n0Wxq3vR" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/04/21/7cd53919-c191-11ec-b07d-02b7b76bf47f.jpg">
<h2>Former Belgian minister takes Turkish regime to the International Court</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.nwBDnyLoZ" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/28/5f71a2d0-b776-11ed-91d7-02b7b76bf47f.jpg">
<h2>Flemings enthusiastic car-sharers</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.YbYPRdZk4" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/04/06/a287a460-b567-11ec-b07d-02b7b76bf47f.jpg">
<h2>Driest February in 37 years</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.kQ7kNYdR1" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/28/849c2bd1-b774-11ed-91d7-02b7b76bf47f.jpg">
<h2>VIDEO: Avian flu decimates black-headed gulls in Limburg</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.7n0Ww5BYA" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/2b43e4d3-b362-11ed-91d7-02b7b76bf47f.png">
<h2>Body of missing woman (75) found in woodland at Maasmechelen</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.dLKGA1MJP" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2020/07/30/78eeb2b6-d24f-11ea-aae0-02b7b76bf47f.jpg">
<h2>Sharp increase in the number of car-sharers in Belgium</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.aD4WQlJaA" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/25/8a257d0b-b510-11ed-91d7-02b7b76bf47f.jpg">
<h2>Shopkeeper that stabbed to death an intruder to remain in custody</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.DY35AWGll" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2015/10/12/44184c4f-70b6-11e5-b4f9-00163edf48dd.jpg">
<h2>Range of products that can be purched using Ecocheques to be expanded from Wednesday</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.QAjJlvnX5" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/f42a4766-b3b4-11ed-91d7-02b7b76bf47f.jpg">
<h2>Disruption as postal workers stage a 24-hour strike</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.BlvVeojWG" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/09/09/2baf1df6-3010-11ed-b07d-02b7b76bf47f.jpg">
<h2>Average rent in Flanders now at 815 euro/month</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.oLvxOYDYQ" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/11/24/40060da1-6c08-11ed-b07d-02b7b76bf47f.jpg">
<h2>Bar to pass Flemish integration test goes higher</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.JN3ywN5qa" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/27/cd3ffd3a-b68d-11ed-91d7-02b7b76bf47f.jpg">
<h2>Northern lights in Belgium for first time in a decade (VIDEO)</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.YbYAvew94" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/04/06/96e8b07b-b591-11ec-b07d-02b7b76bf47f.jpg">
<h2>Inflation nearly halves in only 4 months</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.M9j8oA69p" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/26/50284a40-b5e1-11ed-91d7-02b7b76bf47f.jpg">
<h2>Record ‘Reading Aloud in Multiple Languages’ set in Schaarbeek</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.WklAvxvPW" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/01/06/2f951e04-8dd7-11ed-b07d-02b7b76bf47f.jpg">
<h2>Rail strike on 10 March</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.WklA0Jv5R" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/01/10/af718b2f-90f3-11ed-b07d-02b7b76bf47f.jpg">
<h2>Record cocaine seizure as Belgian home
            minister visits Ecuador
        </h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.Rajv6veqm" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2019/11/18/0c5a4ff9-0a09-11ea-abcc-02b7b76bf47f.jpg">
<h2>Peter Goossens to leave 3-star Hof van Cleve</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.YbYAlWaEN" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/26/94ed289a-b607-11ed-91d7-02b7b76bf47f.jpg">
<h2>VIDEO: Vigils for Belgian aid worker held in Iranian jail</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.YbYj5Q9xn" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/20/35e0c6e2-b140-11ed-b07d-02b7b76bf47f.jpg">
<h2>Stuffed “Roger” the centrepiece at “Pop-Up Wolves Expo”</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.jGKeL3EPY" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/07/08/c2f23214-fede-11ec-b07d-02b7b76bf47f.jpg">
<h2>Line manager’s leadership style plays an import role in preventing burnouts</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.RajQkGX49" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/06/13/54a7963e-eafc-11ec-b07d-02b7b76bf47f.jpg">
<h2>Pressure to convert an issue among Brussels public transport staff</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.Ov9v9yPlq" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2020/02/13/504f73a6-4e6c-11ea-aae0-02b7b76bf47f.jpg">
<h2>Why do people have affairs?</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.ZW19DDVWm" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/2b43e4d3-b362-11ed-91d7-02b7b76bf47f.png">
<h2>Search continues for 75-year-old woman missing since Wednesday</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.E1NKQZGGL" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/1be3cb57-b3a6-11ed-91d7-02b7b76bf47f.jpg">
<h2>European Commission bans TikTok use</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.6KlMl7Ja0" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/05/25/cb1b21b8-dc2b-11ec-b07d-02b7b76bf47f.jpg">
<h2>Bonds issue raises almost 28 million euro in its first day</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.oLv0vE5Jv" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2021/12/02/e033dfb5-538e-11ec-b07d-02b7b76bf47f.jpg">
<h2>More than 1,000 patients have already been treated at Belgian B-FAST field hospital in
            Turkey
        </h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.Pq7KdpXEa" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2021/03/29/849319a8-9048-11eb-b07d-02b7b76bf47f.jpg">
<h2>Belgium scraps mandatory COVID tests for people arriving here from China</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.3BL0VA4ne" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/22/fba12c08-b28d-11ed-91d7-02b7b76bf47f.jpg">
<h2>80 residency & work permits granted to Moroccan nations suspended due to suspected
            fraud
        </h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.y3Ab8lGLB" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/01/02/46021f80-8a59-11ed-b07d-02b7b76bf47f.jpg">
<h2>Flemish Government launches new initiative to collect emergency aid for Ukraine</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.aD4D68bNd" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/916df528-b388-11ed-91d7-02b7b76bf47f.jpg">
<h2>VIDEO: 90% drop in UK-bound migrants taking their chances on the Flemish coast</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.nwBwLYZw7" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/22c954ce-b387-11ed-91d7-02b7b76bf47f.jpg">
<h2>VIDEO: One in three road deaths are cyclists or pedestrians</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.11e16kAke" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2020/01/03/b9b4c16b-2e00-11ea-abcc-02b7b76bf47f.jpg">
<h2>"National debt just shy of 120% of GDP in 2028"</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.BlvlBnnDW" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/dd643696-b36e-11ed-91d7-02b7b76bf47f.jpg">
<h2>VIDEO: Fire bomb attack at Antwerp pizzeria</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.APOPLReAD" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/b1340afb-b365-11ed-91d7-02b7b76bf47f.jpg">
<h2>Brussels metro can’t understand why train wheels are going oval</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.0YdY9O5Kl" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/23/abbe0d35-b353-11ed-91d7-02b7b76bf47f.jpg">
<h2>Ex far right lawmaker to face Holocaust denial charges</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.qE5EkKAOW" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/10/05/e641b63b-4497-11ed-b07d-02b7b76bf47f.jpg">
<h2>Man in court on charges of penetrating a horse on a Leuven square</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.JN3NpmNnQ" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2019/12/28/392b9cdb-2960-11ea-abcc-02b7b76bf47f.jpg">
<h2>Belgian long-term interest highest in a decade: what does it mean for you?</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.8eYeEoeZl" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/11/14/a6f3e209-6422-11ed-b07d-02b7b76bf47f.jpg">
<h2>UK-bound migrants ignoring Belgium</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.11e1jPlnn" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/22/fada0d99-b29c-11ed-91d7-02b7b76bf47f.png">
<h2>Flemish Brabantians get back on their bike</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.bDJD9b6jL" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/8297da7e-b224-11ed-91d7-02b7b76bf47f.jpg">
<h2>Brussels cinema evacuated after cinemagoers become unwell</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.APOPJ6R1y" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/22/fba12c08-b28d-11ed-91d7-02b7b76bf47f.jpg">
<h2>Refugees and asylum seekers fill construction job shortage</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.8eYenykdM" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2022/11/22/44ee3edf-6a77-11ed-b07d-02b7b76bf47f.jpg">
<h2>Dutch judge refuses to send asylum seeker back to Belgium due to risk of “inhumane
            treatment”
        </h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.9313L7v6b" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/01/20/06bf8bad-98a7-11ed-b07d-02b7b76bf47f.jpg">
<h2>Russian spy ship had Belgian wind farms in its sights</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.JN3NNBe3a" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/c52f50f3-b200-11ed-91d7-02b7b76bf47f.jpg">
<h2>“Dikkebus” becomes “Enormebus” pace Roald Dahl</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.bDJ3X8npD" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/b2645578-b1aa-11ed-b07d-02b7b76bf47f.jpg">
<h2>Magnificent floats win prizes at Aalst Carnival</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.vLN9lyVPl" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/20/728b6918-b137-11ed-b07d-02b7b76bf47f.jpg">
<h2>Asylum seeker tent camp doesn’t get cleared as planned</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.nwBJxNy6K" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/44b12f16-b1db-11ed-91d7-02b7b76bf47f.jpg">
<h2>Investigation underway after explosion outside Ghent beauty salon</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.Gv7aqnv3d" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/d87ffd97-b1ef-11ed-91d7-02b7b76bf47f.jpg">
<h2>Tax surcharge wipes out power firm’s excessive profits</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.JN3Ljp5Mk" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/670d6598-b1ed-11ed-91d7-02b7b76bf47f.jpg">
<h2>Half of all De Lijn fines are never paid</h2>
</a>
</div>
<div class="article">
<a href="https://vrtnws.be/p.7n0RMEq6y" target='blank'>
<img src="https://images.vrt.be/vrtnws_share/2023/02/21/aec7b314-b1ea-11ed-91d7-02b7b76bf47f.jpg">
<h2>Rubens’s Portrait of a Man as the God Mars in Brussels ahead of New York auction</h2>
</a>
</div>
