<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>News Aggregator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/navbar.css">
</head>
<body>
{% include 'header.html' %}

<main>
    <div class="article-container">
        <div class="article">
            <a href="https://www.hln.be/nieuws/eu-viseert-met-tiende-sanctiepakket-grootste-russische-private-bank-en-wagner-groep~a73b4b9a/"
               target="_blank">
                <img src="../static/thumbnails/img1.png" alt="Article 1 thumbnail">
                <h2>EU viseert met tiende sanctiepakket grootste Russische private bank en Wagner-groep
                </h2>
            </a>
        </div>
        <div class="article">
            <a href="https://www.hln.be/binnenland/dit-verandert-allemaal-op-1-maart-gebruik-van-ecocheques-voor-alle-tweedehandselektro-vlaamse-inburgeringstoets-wordt-verstrengd~a7173b0e/"
               target="
               _blank">
                <img src="../static/thumbnails/img2.png" alt="Article 2 thumbnail">
                <h2>Dit verandert allemaal op 1 maart: gebruik van ecocheques voor alle tweedehandselektro, Vlaamse
                    inburgeringstoets wordt verstrengd</h2>
            </a>
        </div>
        <div class="article">
            <a href="https://www.hln.be/belgisch-voetbal/antwerp-moet-vrede-nemen-met-een-puntje-op-bezoek-bij-ohl~a690e456/"
               target="_blank">
                <img src="../static/thumbnails/img3.png" alt="Article 3 thumbnail">
                <h2>Antwerp moet vrede nemen met een puntje op bezoek bij OHL</h2>
            </a>
        </div>
        <div class="article">
            <a href="https://www.hln.be/nieuws/eu-viseert-met-tiende-sanctiepakket-grootste-russische-private-bank-en-wagner-groep~a73b4b9a/"
               target="_blank">
                <img src="../static/thumbnails/img1.png" alt="Article 1 thumbnail">
                <h2>EU viseert met tiende sanctiepakket grootste Russische private bank en Wagner-groep
                </h2>
            </a>
        </div>
        <div class="article">
            <a href="https://www.hln.be/binnenland/dit-verandert-allemaal-op-1-maart-gebruik-van-ecocheques-voor-alle-tweedehandselektro-vlaamse-inburgeringstoets-wordt-verstrengd~a7173b0e/"
               target="
               _blank">
                <img src="../static/thumbnails/img2.png" alt="Article 2 thumbnail">
                <h2>Dit verandert allemaal op 1 maart: gebruik van ecocheques voor alle tweedehandselektro, Vlaamse
                    inburgeringstoets wordt verstrengd</h2>
            </a>
        </div>
        <div class="article">
            <a href="https://www.hln.be/belgisch-voetbal/antwerp-moet-vrede-nemen-met-een-puntje-op-bezoek-bij-ohl~a690e456/"
               target="_blank">
                <img src="../static/thumbnails/img3.png" alt="Article 3 thumbnail">
                <h2>Antwerp moet vrede nemen met een puntje op bezoek bij OHL</h2>
            </a>
        </div>
    </div>
    <!-- Add more articles here as needed -->
</main>
</body>
</html>
