<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<h1>Add new RSS Feed</h1>
	<form method="post">
		<label for="feed_url">Feed URL:</label>
		<input type="text" id="feed_url" name="feed_url" required>
		<br>
		<label for="feed_name">Feed Name:</label>
		<input type="text" id="feed_name" name="feed_name" required>
		<br>
		<input type="submit" value="Add Feed">
	</form>
	<h1>Add new Admin</h1>
	<form method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required>
		<br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>
		<br>
		<input type="submit" value="Add Admin">
    <br>
	</form>
  <form action="/logout">
    <input type="submit" class="logout" value="Log Out">
  </form>
</body>
</html>
