.navbar {
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo i {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

.navbar-name {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  color: white;
  margin-right: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links li {
  float: right;
  margin: 0 10px;
}

.navbar-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-links li a:hover {
  background-color: #ddd;
  color: black;
}

.clear {
  clear: both;
}