* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #0D1117;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #c9d1d9;
}

form {
    margin-right: 3em;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #c9d1d9;
}

input {
    background-color: #0D1117;
    border: solid 2px #21262D;
    color: #c9d1d9;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #21262D;
    color: #c9d1d9;
    padding: 10px;
    border: solid 2px #363B42;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #30363D;
    border: solid 2px #8B949F;
}

.password-container {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #c9d1d9;
}

.password-toggle-icon i {
    font-size: 1.2rem;
}

#password[type="password"] + .password-toggle-icon i.fa-eye-slash:before {
    content: "\f070";
    color: #c9d1d9;
}

#password[type="text"] + .password-toggle-icon i.fa-eye:before {
    content: "\f06e";
    color: #c9d1d9;
}

.error {
  background-color: #d64a44;
  color: #ffffff;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #ffc0c0;
  border-radius: 5px;
}
